
.gitattributes
bin/aclocal
bin/aclocal-1.10
bin/aclocal-1.11
bin/aclocal-1.4
bin/aclocal-1.5
bin/aclocal-1.6
bin/aclocal-1.7
bin/aclocal-1.8
bin/aclocal-1.9
bin/addr2line.exe
bin/ar.exe
bin/as.exe
bin/c++filt.exe
bin/cc1.exe
bin/ChangeLog
bin/clientes.dat
bin/clientes.dat.1
bin/clientes.dat.2
bin/cob-config
bin/cob-config.in
bin/cobc.exe
bin/cobcrun.1
bin/cobcrun.c
bin/cobcrun.exe
bin/cpp.exe
bin/db_archive.exe
bin/db_checkpoint.exe
bin/db_deadlock.exe
bin/db_dump.exe
bin/db_hotbackup.exe
bin/db_load.exe
bin/db_log_verify.exe
bin/db_printlog.exe
bin/db_recover.exe
bin/db_replicate.exe
bin/db_stat.exe
bin/db_tuner.exe
bin/db_upgrade.exe
bin/db_verify.exe
bin/dlltool.exe
bin/dllwrap.exe
bin/elfedit.exe
bin/envsubst.exe
bin/gcc-ar.exe
bin/gcc-nm.exe
bin/gcc-ranlib.exe
bin/gcc.exe
bin/gcov-tool.exe
bin/gcov.exe
bin/gdb.exe
bin/gdbserver.exe
bin/gettext.exe
bin/gettext.sh
bin/gettextize
bin/gprof.exe
bin/ifnames
bin/ifnames-2.13
bin/ifnames-2.68
bin/inicio.exe
bin/ld.bfd.exe
bin/ld.exe
bin/libasprintf-0.dll
bin/libatomic-1.dll
bin/libcharset-1.dll
bin/libcob-4.dll
bin/libdb-6.2.dll
bin/libexpat-1.dll
bin/libgcc_s_dw2-1.dll
bin/libgettextlib-0-18-3.dll
bin/libgettextpo-0.dll
bin/libgettextsrc-0-18-3.dll
bin/libgmp-10.dll
bin/libgmpxx-4.dll
bin/libgomp-1.dll
bin/libiconv-2.dll
bin/libintl-8.dll
bin/libmpc-3.dll
bin/libmpfr-4.dll
bin/libquadmath-0.dll
bin/libssp-0.dll
bin/libstdc++-6.dll
bin/Makefile.am
bin/Makefile.in
bin/mingw-get.exe
bin/mingw32-gcc-5.3.0.exe
bin/mingw32-gcc-ar.exe
bin/mingw32-gcc-nm.exe
bin/mingw32-gcc-ranlib.exe
bin/mingw32-gcc.exe
bin/mingw32-make.exe
bin/mingwm10.dll
bin/msgattrib.exe
bin/msgcat.exe
bin/msgcmp.exe
bin/msgcomm.exe
bin/msgconv.exe
bin/msgen.exe
bin/msgexec.exe
bin/msgfilter.exe
bin/msgfmt.exe
bin/msggrep.exe
bin/msginit.exe
bin/msgmerge.exe
bin/msgunfmt.exe
bin/msguniq.exe
bin/ngettext.exe
bin/nm.exe
bin/objcopy.exe
bin/objdump.exe
bin/pdcurses.dll
bin/pthreadGC-3.dll
bin/ranlib.exe
bin/readelf.exe
bin/recode-sr-latin.exe
bin/size.exe
bin/strings.exe
bin/strip.exe
bin/windmc.exe
bin/windres.exe
bin/xgettext.exe
bin/zlib1.dll
fontes/bin/aclocal
fontes/bin/aclocal-1.10
fontes/bin/aclocal-1.11
fontes/bin/aclocal-1.4
fontes/bin/aclocal-1.5
fontes/bin/aclocal-1.6
fontes/bin/aclocal-1.7
fontes/bin/aclocal-1.8
fontes/bin/aclocal-1.9
fontes/bin/addr2line.exe
fontes/bin/ar.exe
fontes/bin/as.exe
fontes/bin/c++filt.exe
fontes/bin/cc1.exe
fontes/bin/ChangeLog
fontes/bin/clientes.dat
fontes/bin/clientes.dat.1
fontes/bin/clientes.dat.2
fontes/bin/cob-config
fontes/bin/cob-config.in
fontes/bin/cobc.exe
fontes/bin/cobcrun.1
fontes/bin/cobcrun.c
fontes/bin/cobcrun.exe
fontes/bin/cpp.exe
fontes/bin/db_archive.exe
fontes/bin/db_checkpoint.exe
fontes/bin/db_deadlock.exe
fontes/bin/db_dump.exe
fontes/bin/db_hotbackup.exe
fontes/bin/db_load.exe
fontes/bin/db_log_verify.exe
fontes/bin/db_printlog.exe
fontes/bin/db_recover.exe
fontes/bin/db_replicate.exe
fontes/bin/db_stat.exe
fontes/bin/db_tuner.exe
fontes/bin/db_upgrade.exe
fontes/bin/db_verify.exe
